<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">
        <%- include('../partials/flash-messages') %>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="h3 mb-4">Kategori Oluştur</h1>

                <form action="/admin/category/create" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="mb-3">
                        <label for="name" class="form-label">Kategori Adı</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/scripts') %>
</body>
</html>