<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid">
        <a href="/" class="navbar-brand me-4">Ana Sayfa</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/blogs" class="nav-link <%= path.startsWith('/blogs') ? 'active' : '' %>">Blog listesi</a>
            </li>
            
            <% if (isAuth && (user && (user.rolename === 'admin' || user.rolename === 'moderator'))) { %>
                <li class="nav-item">
                    <a href="/admin/blogs" class="nav-link <%= path.startsWith('/admin/blogs') ? 'active' : '' %>">Admin Blogs</a>
                </li>
            <% } %>
            
            <% if (isAuth && user && user.rolename === 'admin') { %>
                <li class="nav-item">
                    <a href="/admin/categories" class="nav-link <%= path.startsWith('/admin/categories') ? 'active' : '' %>">Admin Categories</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/roles" class="nav-link <%= path.startsWith('/auth/roles') ? 'active' : '' %>">Kullanıcı Rolleri</a>
                </li>
            <% } %>
        </ul>
       
        <ul class="navbar-nav align-items-center">
            <li class="nav-item me-2">
                <button id="darkModeToggle" class="btn btn-sm rounded-circle p-2 d-flex align-items-center justify-content-center" 
                        title="Tema değiştir" style="width: 38px; height: 38px;">
                    <i class="bi bi-moon-stars fs-5" id="darkModeIcon"></i>
                </button>
            </li>
            <% if (isAuth) { %>
                <li class="nav-item">
                    <span class="nav-link"><%= fullname %></span>
                </li>
                <li class="nav-item">
                    <a href="/auth/logout" class="nav-link">Çıkış Yap</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a href="/auth/register" class="nav-link <%= path.startsWith('/auth/register') ? 'active' : '' %>">Kayıt Ol</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/login" class="nav-link <%= path.startsWith('/auth/login') ? 'active' : '' %>">Giriş Yap</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>