<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container mt-5">
        <%- include ('../partials/flash-messages') %>
        <div class="row">
            <% blogs.forEach(blog => { %>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <% if (blog.resim) { %>
                            <img src="/resimler/<%= blog.resim %>" class="card-img-top" alt="<%= blog.title %>" style="height: 200px; object-fit: cover;">
                        <% } else { %>
                            <div class="card-img-top bg-light d-flex align-items-center justify-content-center" style="height: 200px;">
                                <i class="bi bi-image display-4 text-muted"></i>
                            </div>
                        <% } %>
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <p class="card-text"><%= stripTags(blog.altbaslik) %></p>
                            <a href="/blogs/<%= blog.slug %>" class="btn btn-primary">Devamını Oku</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <%- include('../partials/scripts') %>
</body>
</html>